@font-face {
  font-family: "aliseo";
  src: url(../fonts/aliey.otf);
}
@font-face {
  font-family: "austria";
  src: url(../fonts/austria.otf);
}
@font-face {
  font-family: "caviar";
  src: url(../fonts/caviar.ttf);
}
body header {
  background-color: #ffc87a;
  margin-bottom: 0%;
  grid-area: header;
}
body header h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-family: "aliseo";
}
@media screen and (max-width: 450px) {
  body header h1 {
    font-size: 40px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body header h1 {
    font-size: 50px;
    padding-top: 15px;
  }
}
body header h4 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "austria";
}
@media screen and (max-width: 450px) {
  body header h4 {
    font-size: 15px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  body header h4 {
    font-size: 20px;
  }
}

.aside {
  grid-area: aside;
  background-color: #f4bb89;
}
.aside h2 {
  font-size: 30px;
  padding: 20px;
  color: white;
  font-family: "caviar";
}
@media screen and (max-width: 450px) {
  .aside h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .aside h2 {
    font-size: 25px;
  }
}
.aside li {
  font-size: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: white;
  font-family: "caviar";
  font-weight: bold;
}
@media screen and (max-width: 450px) {
  .aside li {
    font-size: 15px;
    padding-bottom: 10px;
    padding-left: 13px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .aside li {
    font-size: 20px;
  }
}

.article {
  grid-area: article;
  background-color: #f8cf9b;
}
.article p {
  font-size: 25px;
  padding: 40px;
  color: white;
  font-family: "caviar";
}
@media screen and (max-width: 450px) {
  .article p {
    font-size: 15px;
    padding: 20px;
    font-style: bold;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .article p {
    font-size: 25px;
    padding: 25px;
  }
}

.video {
  height: 100%;
  width: 100%;
  grid-area: rep;
}

.section {
  grid-area: section;
}

.footer {
  grid-area: footer;
  background-color: #ffc87a;
}
.footer h3 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: "caviar";
}
@media screen and (max-width: 450px) {
  .footer h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .footer h3 {
    font-size: 25px;
  }
}

.gridarea {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px, 400px, 200px, 200px, 300px;
  grid-template-areas: "header header header" "rep rep aside" "article article article" "section section section" "footer footer footer";
}
@media screen and (max-width: 450px) {
  .gridarea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px, 300px, 150px, 150px, 150px, 250px;
    grid-template-areas: "header header" "rep rep" "aside aside" "article article" "section section" "footer footer";
  }
}
@media screen and (min-width: 451px) and (max-width: 960px) {
  .gridarea {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px, 300px, 150px, 150px, 150px, 250px;
    grid-template-areas: "header header" "rep rep" "aside aside" "article article" "section section" "footer footer";
  }
}

/*# sourceMappingURL=style.css.map */
