
@font-face {
    font-family: 'aliseo';
    src: url(../fonts/aliey.otf);
}
@font-face {
    font-family: 'austria';
    src: url(../fonts/austria.otf);
}

@font-face {
    font-family: 'caviar' ;
    src: url(../fonts/caviar.ttf);
}

body{
 

    header{

        background-color: #ffc87a;
        margin-bottom: 0%;
        grid-area: header;

        h1{

            color: white;
            text-align: center;
            font-size: 70px;
            font-family: 'aliseo';

        

        }

        h4{
            color: white;
            text-align: center;
            font-size: 30px;
            font-family: 'austria';
        }
    }
  
    
}

.aside{
    grid-area: aside;
    background-color: #f4bb89;

    h2{
        font-size: 30px;
        padding: 20px;
        color:white;
        font-family: 'caviar';
    
       

    }
    li{
        font-size: 20px ;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        color:white;
        font-family: 'caviar';
        
    }
}


.article{
    grid-area: article;
    background-color: #f8cf9b;

    p{

    font-size: 25px;
    padding: 40px;
    color:white;
    font-family: 'caviar';

    }
}



.video{
    height:100%;
    width: 100%;
    grid-area: rep;
   
}

.section{
    grid-area: section;
}

.footer{
    grid-area: footer;
    background-color:#ffc87a ;

    h3{

        color: white;
        text-align: center;
        font-size: 40px;
        font-family: 'caviar';


    }
}