.gridarea{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px,400px,200px,200px,300px;
    grid-template-areas: 
    "header header header"
    "rep rep aside"
    "article article article"
    "section section section"
    "footer footer footer";    
}